Sources/AsyncIssue/ConsoleApp/bin/
Sources/AsyncIssue/ConsoleApp/obj/
Sources/AsyncIssue/WindowsUniversalApp/bin/
Sources/AsyncIssue/WindowsUniversalApp/obj/
Sources/DisplayInformation/DisplayInformation/obj/
Sources/DisplayInformation/DisplayInformation/bin/
Sources/WeakEvents/packages/
Sources/WeakEvents/WeakEvents/bin/
Sources/WeakEvents/WeakEvents/obj/
Sources/AsyncIssue/.vs/
Sources/AsyncIssue/UpgradeLog.htm
Sources/CSharp/NewInCSharp6/.vs/
Sources/CSharp/NewInCSharp6/ConsoleApp/bin/
Sources/CSharp/NewInCSharp6/ConsoleApp/obj/
Sources/CSharp/NewInCSharp6/NewInCSharp6/obj/
Sources/CSharp/NewInCSharp6/NewInCSharp6/bin/
Sources/CSharp/NewInCSharp7/NewInCSharp7/obj/
Sources/CSharp/NewInCSharp7/NewInCSharp7/bin/
Sources/CSharp/NewInCSharp7/ConsoleApp/obj/
Sources/CSharp/NewInCSharp7/ConsoleApp/bin/
Sources/CSharp/NewInCSharp7/.vs/
Sources/SurprisesWithMutableStructures/.vs/
Sources/SurprisesWithMutableStructures/bin/
Sources/SurprisesWithMutableStructures/obj/
